.tag-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tag-page-title {
  margin: 0;
}

.tag-page-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.55rem;
  width: 100%;
}

.tag-page-list li {
  display: flex;
}

.tag-page-list a {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: baseline;
  gap: 0.75rem;
}

.tag-page-section {
  flex-shrink: 0;
  font-size: 10px;
}

.tag-page-item {
  font-size: 1.5rem;
  letter-spacing: -0.12em;
}
