.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__container:hover {
  cursor: crosshair;
}

.embla__container:active {
  cursor: crosshair;
}

.embla__container > * {
  min-width: 0;
}
